<h1 style="text-align: center;" class="pt-2">List Employee</h1>
<div class="p-5" style="font-size: 15px;">

  <table class="table table-hover" align="center" style="width: 70%">
    <thead class="black white-text">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">BirthDate</th>
        <th scope="col">Basic Salary</th>
        <th scope="col">Status</th>
        <th scope="col">Group</th>
        <th scope="col">Desc</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="spaceUnder">Test 1</td>
        <td>Test 1</td>
        <td>Test 2</td>
        <td>Test 3</td>
        <td>Test 4</td>
        <td>Test 5</td>
        <td>Test 6</td>
        <td>Test 7</td>
        <td><button class="btn btn-warning m-1">Update</button>
          <button onclick="alert('Data Dihapus')" class="btn btn-outline-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div style="padding-left: 510px;">
    <button class="btn btn-primary">Add</button>
    <button class="btn btn-primary m-2">Refresh</button>
    <button class="btn btn-primary">Download</button>
  </div>
</div>
